.footer1-wrapper {
  display: contents;
}
 
.footer1-footer1 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.footer1-max-width {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.footer1-content {
  gap: var(--dl-layout-space-fourunits);
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 4px;
  justify-content: space-between;
}
 
.footer1-newsletter {
  gap: 24px;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.footer1-image1 {
  width: 216px;
  height: auto;
}
 
.footer1-actions {
  gap: 16px;
  width: 100%;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.footer1-content2 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  height: auto;
  font-size: 12px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: "Roboto";
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  text-decoration: none;
}
 
.footer1-column3 {
  gap: var(--dl-layout-space-unit);
  width: auto;
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  max-width: 300px;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: flex-start;
}
 
.footer1-social-links {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.footer1-link1 {
  display: contents;
}
 
.footer1-link2 {
  gap: 12px;
  display: flex;
  padding: 8px 0;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  text-decoration: none;
}
 
.footer1-link3 {
  display: contents;
}
 
.footer1-link4 {
  gap: 12px;
  display: flex;
  padding: 8px 0;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  text-decoration: none;
}
 
.footer1-link5 {
  display: contents;
}
 
.footer1-link6 {
  gap: 12px;
  display: flex;
  padding: 8px 0;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  text-decoration: none;
}
 
.footer1-link7 {
  display: contents;
}
 
.footer1-link8 {
  gap: 12px;
  display: flex;
  padding: 8px 0;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  text-decoration: none;
}
 
.footer1-credits {
  gap: 32px;
  width: 100%;
  display: flex;
  align-self: stretch;
  margin-top: var(--dl-layout-space-unit);
  align-items: flex-start;
  flex-direction: column;
}
 
.footer1-row {
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  justify-content: space-between;
}
 
.footer1-footer-links {
  gap: 24px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
}
 
.home-fragment1 {
  display: contents;
}
 
.home-text214 {
  display: inline-block;
}
 
.home-fragment2 {
  display: contents;
}
 
.home-text215 {
  display: inline-block;
}
 
.home-fragment3 {
  display: contents;
}
 
.home-text216 {
  display: inline-block;
}

.home-container1 {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.home-navbar-container {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 100;
  position: sticky;
  box-shadow: 5px 5px 10px 0px #b9b9b9;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
 
.home-navbar {
  width: 100%;
  display: flex;
  max-width: var(--dl-layout-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-layout-space-doubleunit);
  padding-left: var(--dl-layout-space-tripleunit);
  padding-right: var(--dl-layout-space-tripleunit);
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-doubleunit);
  justify-content: space-between;
}
 
.home-left-side {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.home-image1 {
  width: 50px;
  align-self: center;
  object-fit: cover;
  margin-right: var(--dl-layout-space-doubleunit);
}
 
.home-burger-menu {
  display: none;
  align-items: flex-start;
  border-radius: var(--dl-layout-radius-radius4);
  flex-direction: column;
}
 
.home-icon10 {
  width: 36px;
  height: 36px;
}
 
.home-links-container1 {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
 
.home-link1 {
  margin-right: var(--dl-layout-space-tripleunit);
  text-decoration: none;
}
 
.home-link2 {
  margin-right: var(--dl-layout-space-tripleunit);
  text-decoration: none;
}
 
.home-right-side {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.home-mobile-menu {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: auto;
  display: none;
  padding: var(--dl-layout-space-doubleunit);
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  box-shadow: 5px 5px 10px 0px #b9b9b9;
}
 
.home-container2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-layout-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
 
.home-image2 {
  width: 50px;
  align-self: center;
  object-fit: cover;
  margin-right: var(--dl-layout-space-doubleunit);
}
 
.home-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-icon12 {
  width: 24px;
  height: 24px;
}
 
.home-links-container2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-link3 {
  margin-bottom: var(--dl-layout-space-unit);
  text-decoration: none;
}
 
.home-link4 {
  margin-bottom: var(--dl-layout-space-unit);
  text-decoration: none;
}
 
.home-link5 {
  margin-bottom: var(--dl-layout-space-unit);
  text-decoration: none;
}
 
.home-link6 {
  text-decoration: none;
}
 
.home-hero {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-layout-space-fiveunits);
  flex-direction: row;
  padding-bottom: 0px;
  background-size: contain;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
}
 
.home-content-container {
  width: 100%;
  height: 674px;
  display: flex;
  max-width: var(--dl-layout-size-maxcontent);
  align-items: center;
  padding-top: 0px;
  padding-left: 0px;
  margin-bottom: 0px;
  padding-right: 0px;
  flex-direction: row;
  padding-bottom: 0px;
  background-size: contain;
  justify-content: center;
  background-image: url("public/myrepublic%20wifi%20-%20daerah%20istimewa%20yogyakarta%20(2)-1500w.png");
  background-repeat: no-repeat;
  background-position: center;
}
 
.home-hero-text {
  width: 65%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.home-heading10 {
  text-align: center;
  margin-bottom: var(--dl-layout-space-fiveunits);
}
 
.home-text100 {
  color: var(--dl-color-theme-neutral-dark);
  text-align: left;
  margin-bottom: var(--dl-layout-space-fiveunits);
}
 
.home-cta-btn1 {
  color: var(--dl-color-gray-white);
  display: flex;
  text-align: center;
  padding-top: var(--dl-layout-space-doubleunit);
  padding-left: var(--dl-layout-space-tenunits);
  border-radius: 30px;
  padding-right: var(--dl-layout-space-tenunits);
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-doubleunit);
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
 
.home-icon14 {
  color: #25D366;
}
 
.home-features {
  width: 100%;
  display: flex;
  max-width: var(--dl-layout-size-maxcontent);
  align-items: center;
  padding-top: var(--dl-layout-space-tenunits);
  padding-left: var(--dl-layout-space-tripleunit);
  padding-right: var(--dl-layout-space-tripleunit);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-fiveunits);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: var(--dl-layout-space-twounits);
}
 
.home-heading-container {
  width: 45%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-layout-space-fiveunits);
  flex-direction: column;
  justify-content: space-between;
}
 
.home-text107 {
  width: auto;
  text-align: center;
  margin-bottom: var(--dl-layout-space-fourunits);
}
 
.home-slider {
  width: 100%;
  max-width: 1154px;
  height: auto;
  display: block;
  margin: 0 auto;
}
 
.home-jet20mbps,
.home-plus-value30mbps,
.home-fast50mbps,
.home-nova100mbps,
.home-my-gamer250mbps,
.home-prime500mbps {
  display: flex;
  height: auto;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.home-features-card1,
.home-features-card2,
.home-features-card3,
.home-features-card4,
.home-features-card5,
.home-features-card6 {
  width: 100%;
  display: flex;
  padding: var(--dl-layout-space-doubleunit);
  align-items: center;
  flex-direction: column;
  margin-bottom: 0;
}
 
/* All icon containers will now share a single, consistent style */
.icon-container {
  display: flex;
  padding: var(--dl-layout-space-unit);
  align-items: center;
  border-radius: var(--dl-layout-radius-round);
  margin-bottom: var(--dl-layout-space-doubleunit);
  flex-direction: column;
  background-color: var(--dl-color-theme-neutral-dark);
  color: white;
}
 
.home-text-container1,
.home-text-container2,
.home-text-container3,
.home-text-container4,
.home-text-container5,
.home-text-container6 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
 
.home-heading11,
.home-heading12,
.home-heading13,
.home-heading14,
.home-heading15,
.home-heading16,
.home-heading17,
.home-heading18,
.home-heading19,
.home-heading20,
.home-heading21,
.home-heading22,
.home-heading23,
.home-heading24 {
  margin-bottom: var(--dl-layout-space-tripleunit);
}
 
.home-text110,
.home-text132,
.home-text133,
.home-text154,
.home-text155,
.home-text169,
.home-text170,
.home-text184,
.home-text185,
.home-text199,
.home-text200 {
  grid-row-end: 2;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-column-start: 1;
}
 
.home-cta-btn2,
.home-cta-btn3,
.home-cta-btn4,
.home-cta-btn5,
.home-cta-btn6,
.home-cta-btn7 {
  display: flex;
  align-items: center;
  margin-top: var(--dl-layout-space-twounits);
}
 
.home-slider-pagination {
  margin-top: var(--dl-layout-space-fourunits);
  fill: var(--dl-color-gray-black);
  color: var(--dl-color-gray-black);
  display: block;
}
 
.swiper-button-prev,
.swiper-button-next {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.home-slider:hover .swiper-button-prev,
.home-slider:hover .swiper-button-next {
  opacity: 1;
}
 
.home-slider-button-prev {
  display: block;
}
 
.home-slider-button-next {
  display: block;
}
 
.home-section-separator {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}

.home-heading12,
.home-heading13,
.home-heading15,
.home-heading16,
.home-heading18,
.home-heading20,
.home-heading22,
.home-heading24 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: var(--dl-layout-space-unit);
}

.price-button {
  color: var(--dl-color-gray-white);
  text-align: center;
  padding: var(--dl-layout-space-unit) var(--dl-layout-space-fourunits);
  border-radius: 30px;
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
  display: block;
  width: fit-content;
  margin-top: var(--dl-layout-space-unit);
  margin-bottom: var(--dl-layout-space-unit);
}

@media(max-width: 991px) {
  .home-hero {
    flex-direction: column;
  }
  .home-content-container {
    flex-direction: column-reverse;
    height: auto;
    padding-top: var(--dl-layout-space-fourunits);
    padding-bottom: var(--dl-layout-space-fourunits);
  }
  .home-hero-text {
    width: 80%;
  }
  .home-text107 {
    margin-bottom: 0px;
  }
  .home-slider {
    width: 100%;
  }
  .home-jet20mbps {
    height: auto;
  }
}
@media(max-width: 767px) {
  .home-burger-menu {
    display: flex;
    padding: var(--dl-layout-space-halfunit);
    background-color: var(--dl-color-gray-black);
  }
  .home-icon10 {
    fill: var(--dl-color-gray-white);
  }
  .home-links-container1 {
    display: none;
  }
  .home-heading-container {
    width: 100%;
  }
  .home-text107 {
    width: auto;
  }
  .home-features-card1,
  .home-features-card2,
  .home-features-card3,
  .home-features-card4,
  .home-features-card5,
  .home-features-card6 {
    width: 100%;
    align-items: center;
    margin-bottom: var(--dl-layout-space-tripleunit);
  }
  .swiper-button-prev,
  .swiper-button-next {
    opacity: 1;
  }
  .icon-container {
    flex-direction: row;
  }
  .home-text-container1,
  .home-text-container2,
  .home-text-container3,
  .home-text-container4,
  .home-text-container5,
  .home-text-container6 {
    align-items: flex-start;
    text-align: left;
  }
  .home-heading13,
  .home-heading16 {
    margin-top: var(--dl-layout-space-unit);
  }
  .home-cta-btn2, .home-cta-btn3, .home-cta-btn4, .home-cta-btn5, .home-cta-btn6, .home-cta-btn7 {
    margin-top: var(--dl-layout-space-twounits);
  }
  .footer1-content {
    align-items: flex-start;
  }
  .footer1-column3 {
    margin-top: var(--dl-layout-space-twounits);
    margin-left: 0;
  }
}
@media(max-width: 479px) {
  .home-hero-text {
    width: 100%;
  }
  .footer1-row {
    align-items: center;
    flex-direction: column;
  }
  .footer1-footer-links {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
/* Responsive Fixes for Paket Kartu */
.paket-kartu {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-image: url("public/myrepublic%20wifi%20-%20daerah%20istimewa%20yogyakarta%20(2)-1500w.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--dl-color-theme-neutral-dark);
  border-radius: 8px;
  overflow: hidden;
}
.paket-kartu .home-text-container1,
.paket-kartu .home-text-container2,
.paket-kartu .home-text-container3,
.paket-kartu .home-text-container4,
.paket-kartu .home-text-container5,
.paket-kartu .home-text-container6 {
  width: 100%;
}
.paket-kartu .home-cta-btn2,
.paket-kartu .home-cta-btn3,
.paket-kartu .home-cta-btn4,
.paket-kartu .home-cta-btn5,
.paket-kartu .home-cta-btn6,
.paket-kartu .home-cta-btn7 {
  margin-top: auto;
  align-self: center;
}
.paket-fitur {
  width: 100%;
  padding-left: var(--dl-layout-space-unit);
  list-style-position: outside;
}
.paket-fitur li {
  margin-bottom: var(--dl-layout-space-halfunit);
}
.paket-kartu .home-text-container5,
.paket-kartu .home-text-container6 {
  width: 100%;
}
.paket-kartu .home-cta-btn2,
.paket-kartu .home-cta-btn3,
.paket-kartu .home-cta-btn4,
.paket-kartu .home-cta-btn5,
.paket-kartu .home-cta-btn6,
.paket-kartu .home-cta-btn7 {
  margin-top: auto;
  margin-bottom: var(--dl-layout-space-doubleunit);
  align-self: center;
}

.home-cta-btn6,
.home-cta-btn7 {
  display: flex;
  align-items: center;
  margin-top: var(--dl-layout-space-twounits);
}

.home-features .button svg {
  fill: #25D366;
}

.home-slider-pagination {
  margin-top: var(--dl-layout-space-fourunits);
  fill: var(--dl-color-gray-black);
  color: var(--dl-color-gray-black);
  display: block;
}

.home-cta-btn2 svg,
.home-cta-btn3 svg,
.home-cta-btn4 svg,
.home-cta-btn5 svg,
.home-cta-btn6 svg,
.home-cta-btn7 svg {
  color: #25D366;
}

.home-text-container1,
.home-text-container2,
.home-text-container3,
.home-text-container4,
.home-text-container5,
.home-text-container6 {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}

.home-heading23,
.home-heading24 {
  margin-bottom: var(--dl-layout-space-tripleunit);
}

.home-heading11,
.home-heading14,
.home-heading17,
.home-heading19,
.home-heading21,
.home-heading23 {
  font-weight: bold;
}
 
.home-text110,
.home-text132,
.home-text133,
.home-text154,
.home-text155,
.home-text169,
.home-text170,
.home-text184,
.home-text185,
.home-text199,
.home-text200 {
  grid-row-end: 2;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-column-start: 1;
}

.promo-info {
  font-size: 0.95em;
  color: #d2691e;
  margin-top: 8px;
  margin-bottom: 32px;
  font-style: italic;
  text-align: center;
}

@media (max-width: 767px) {
  .promo-info {
    margin-bottom: 16px;
  }
}
